doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title แจ้งเตือนการสิ้นสุดการเป็นสมาชิกบริการ MT5 ในเดือนถัดไป
    style.
      body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 24px 0px 48px 0px;
      }
      .container {
        max-width: 700px;
        margin: 0 auto;
        padding: 24px;
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      }
      .banner {
        padding: 8px 8px 4px 8px;
        background-color: #e9faf5;
        border-radius: 8px;
      }

  body
    div(class="container")
      p(class="banner")
        img(src="https://www.pi.financial/images/app-logo.png", width=64, height=64, alt="logo")
      p เรียนลูกค้าผู้ใช้บริการ MT5
      p &nbsp;&nbsp;&nbsp;&nbsp;บริษัทขอเรียนแจ้งให้ลุกค้าทราบว่าการเป็นสมาชิกบริการ MT5 สำหรับหมายเลขบัญชี
        strong !{' '}#{filteredCustomer.custcode}
        | !{' '}ของลูกค้ากำลังจะสิ้นสุดลงในเดือนหน้า บริษัทจึงขอเรียนแจ้งล่วงหน้าเพื่อให้ลูกค้ามีเวลาเพียงพอสำหรับการต่ออายุสมาชิกบริการ MT5 หรือเตรียมการสำหรับคำสั่งซื้อขายต่างๆที่คงค้างบนโปรแกรมเทรด MT5 ก่อนที่การเป็นสมาชิกบริการ MT5 ของลูกค้าจะสิ้นสุดลง
      p บริษัทหวังเป็นอย่างยิ่งว่าบริการ MT5 ได้สร้างประสบการณ์ที่ดีและเป็นประโยชน์แก่ลูกค้าผ่านฟังก์ชั่นการซื้อขายขั้นสูงและเครื่องมือการวิเคราะห์ที่มีประสิทธิภาพตลอดช่วงเวลาที่ลูกค้าใช้บริการ และเพื่อความต่อเนื่องในการซื้อขายและการใช้งานฟังก์ชั่นต่างๆของ MT5 บริษัทขอแนะนำให้ลูกค้าดำเนินการตามขั้นตอนดังต่อไปนี้
      
      ol
        li ต่ออายุบริการ MT5: พิจารณาต่ออายุบริการ MT5 เพื่อเข้าถึงฟังก์ชั่นการซื้อขายขั้นสูงและเครื่องมือการวิเคราะห์ที่มีประสิทธิภาพอย่างเต็มรูปแบบของ MT5 อย่างต่อเนื่อง โดยสามารถต่ออายุบริการ MT5 ได้ง่ายๆ ผ่านเว็บไซต์ของบริษัท 
          a(href="https://service-hub.pi.financial", target="_blank", style="color: #21CE99; text-decoration: none;") Service Hub
          | !{' '}เพียงลงชื่อเข้าใช้งานและดำเนินการต่ออายุตามขั้นตอนที่ระบุผ่านหัวข้อ MT5 Subscription
        li ตรวจสอบตัวเลือกการต่ออายุบริการ MT5: สำรวจตัวเลือกการต่ออายุบริการ MT5 โดยลูกค้าสามารถเลือกต่ออายุสมาชิกได้ทั้งแบบราย 3, 6 และ 12 เดือน
        li ชำระค่าบริการเพื่อต่ออายุ MT5: เลือกชำระค่าบริการผ่านระบบ QR Code บนแอพพลิเคชั่นธนาคารหรือผู้ให้บริการชำระเงินอื่นๆของลูกค้า หากลูกค้าชำระค่าบริการเสร็จสิ้นภายในเวลา 17.00น. การต่ออายุบริการ MT5 จะมีผลในวันทำการถัดไป (T+1) และหากลูกค้าชำระค่าบริการเสร็จสิ้นภายหลังเวลา 17.00น. การต่ออายุบริการ MT5 จะมีผลใน 2 วันทำการถัดไป (T+2)
      
      p(style="margin-top: 24px;") หากลูกค้ามีข้อสงสัย หรือต้องการความช่วยเหลือเพิ่มเติมเกี่ยวกับการต่ออายุบริการ MT5 โปรดติดต่อผู้แนะนำการลงทุนของท่าน หรือฝ่ายบริการลูกค้าของบริษัทผ่านช่องทางโทรศัพท์ได้ที่!{' '}
        a(href="tel:022057111" target="_blank", style="color: #21CE99; text-decoration: none;") 02-205-7111
      p บริษัทขอขอบพระคุณอย่างยิ่งในความไว้วางใจของลูกค้าที่มีต่อบริการของเรา บริษัทหวังเป็นอย่างยิ่งว่าจะได้ให้บริการ MT5 แก่ลูกค้าในเดือนที่จะถึง
      p(style="margin-top: 24px;") ขอแสดงความนับถือ
      p บริษัทหลักทรัพย์พาย จำกัด (มหาชน)