<div class="portfolio-header">
  <img src="<%= theme.innerThemeImage %>" class="image-inner-theme" />
  <div class="theme-header">
    <div class="logo-left">
      <img src="<%= theme.headerImage %>" class="small-logo" />
      <h3>
        <%= title %> <% if(equity.accountName && (title=="Thai Equity" ||
        title=="Private Fund")) { %> (<%= equity.accountName %>) <% } %>
      </h3>
    </div>
    <div class="theme-header-title">
      <h2>Monthly Portfolio Summary</h2>
      <% if(title=="Cash (Available Balance)"){ %>
      <p>
        Summary as of <%=
        formatDateNumber(marketing.portfoliosummary.summaryAsOf) %>
      </p>
      <% }else { %>
      <p>Value as of <%= formatDateNumber(equity.dateKey) %></p>
      <% }%>
      <p><%= isHighNetWorth ? 'RM:' : 'IC:' %> <%= marketing.marketingName %></p>
      <p>Customer Code: <%= equity.custcode %></p>
      <p>
        <% if (equity.accountNo) { %> Account Number: <% } %> <%=
        equity.accountNo %>
      </p>
    </div>
  </div>
</div>
