<td class="<%= rowClass %> <%= getColorClass(gainLoss) %>"><%= getPrefix(gainLoss) %><%= formatCurrency(gainLoss) %></td>
<td class="<%= rowClass %> <%= getColorClass(unrealizedPL) %>"><%= getPrefix(unrealizedPL) %><%= formatCurrency(unrealizedPL) %> %</td>
