<head>
  <title>Transaction Report</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <%
  theme = themeConfig[data.isHighNetWorth ? "green":"blue" ]
  %>
  <style>
    :root {
      --primary-color: <%=theme.color %>;
      --secondary-color: <%=theme.background %>;
      --backgroundLigthGreen: <%=theme.backgroundLigthGreen %>;
      --colorDarkGreen: <%=theme.colorDarkGreen %>;
      --greenCard: <%=theme.largeCard %>;
      --largeCardTextColor: <%=theme.largeCardTextColor %>;
      --greenProfolio: <%=theme.greenProfolio %>;
      --smallCard: <%=theme.smallCard %>
    }
  </style>
  <%- include('style') %>

  <%
     formatCurrency= (currency, digits = 2) =>{
      return new Intl.NumberFormat('en-US', {
        minimumFractionDigits: digits,
        maximumFractionDigits: digits,
      }).format(currency);
    }

     formatPercentage = (value) => {
      return new Intl.NumberFormat('en-US', {
        style: 'percent',
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      }).format(value);
    }


    formatDate = (inputDate) => {
        const months = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];

        const date = new Date(inputDate);
        const day = date.getDate();
        const month = months[date.getMonth()];
        const year = date.getFullYear();

        return `${day} ${month} ${year}`;
    }

    formatDateNumber = (inputDate) => {
      const date = new Date(inputDate);
      const day = ('0' + date.getDate()).slice(-2);
      const month = ('0' + (date.getMonth() + 1)).slice(-2);
      const year = date.getFullYear();
      return `${day}/${month}/${year}`;
    }
    getBalanceSummary = (marketing, custcode) => {
      // Iterate through marketings array to find the matching custcode
        for (const balance of marketing.balanceSummary) {
          if (balance.custcode === custcode) {
            return balance;
          }
        }
      // Return null if no matching custcode is found
      return null;
    }
    getPrivateFundByCustcode = (marketing,custcode) => {
       // Iterate through marketings array to find the matching custcode
       for (const fund of marketing.privateFundSummary) {
          if (fund.custcode === custcode) {
            return fund;
          }
        }
      // Return null if no matching custcode is found
      return null;
    }
    getExchangeRate = (currencyCode) => {
      // Iterate through marketings array to find the matching custcode
        for (const balance of data.exchangeRate) {
          if (balance.currency === currencyCode) {
            return balance.exchangeRate;
          }
        }
      // Return null if no matching custcode is found
      return null;
    }

    getColorClass = (value) => {
      return value >= 0 ? 'color-green' : 'color-red';
    }

    getPrefix = (value) => {
      return value > 0 ? '+' : '';
    }
%>

  <script>
    formatCurrency = (currency, digits = 2) => {
      return new Intl.NumberFormat('en-US', {
        minimumFractionDigits: digits,
        maximumFractionDigits: digits,
      }).format(currency);
    }

    formatPercentage = (value) => {
      return new Intl.NumberFormat('en-US', {
        style: 'percent',
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      }).format(value);
    }

    formatDate = (inputDate) => {
      const months = [
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
      ];

      const date = new Date(inputDate);
      const day = date.getDate();
      const month = months[date.getMonth()];
      const year = date.getFullYear();

      return `${day} ${month} ${year}`;
    }

    formatDateNumber = (inputDate) => {
      const date = new Date(inputDate);
      const day = ('0' + date.getDate()).slice(-2);
      const month = ('0' + (date.getMonth() + 1)).slice(-2);
      const year = date.getFullYear();
      return `${day}/${month}/${year}`;
    }

    const getColorClass = (value) => {
      return value >= 0 ? 'color-green' : 'color-red';
    }

    const getPrefix = (value) => {
      return value > 0 ? '+' : '';
    }

    const data = <%- JSON.stringify(data) %>;
    console.log(data);
  </script>

</head>